<div>
  <p>コメント件数：<%= @concert.comments.count %></p>
  <% @concert.comments.each do |comment| %>
    <!--<p><%#= image_tag comment.customer.get_profile_image(100,100) %></p>-->
    <%= comment.customer.nickname %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <%= link_to "削除", admin_concert_comment_path(comment.concert, comment), method: :delete %>
  <% end %>
</div>