<div class="container my-5">
  <div class="row">
    <div class="col-10">
      <h3><span class="bg-light bg-gradient">レビュー一覧</span></h3>
    </div>
      <table class='table table-hover table-inverse'>
        <div>
         <% @concert.comments.each do |comment| %>
          <p><%= image_tag comment.customer.get_profile_image(100,100) %></p>
            <%= comment.customer.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
            <% if comment.customer == current_customer %>
             <%= link_to "削除", admin_concert_comment_path(comment.concert, comment), method: :delete %>
            <% end %>
         <% end %>
       </div>
      </table>
         <%= paginate @concert.comment %>
  </div>
</div>