<div class="container my-5">
  <div class="row">
    <div class="col-10">
      <h3><span class="bg-light bg-gradient">レビュー一覧</span></h3>
    </div>
      <table class='table table-hover table-inverse'>
        <div>
         <% @concert.revues.each do |revue| %>
          <%#= image_tag comment.customer.get_profile_image(100,100) %>
            <%= revue.customer.first_name+revue.customer.last_name %>
            <%= revue.created_at.strftime('%Y/%m/%d') %><%= revue.impressions %>
            <%= link_to "削除", admin_concert_revue_path(revue.concert, revue), method: :delete %>
         <% end %>
       </div>
      </table>
         <%= paginate @revue %>
  </div>
</div>