<div class="review_show">
  <div class="low">
    <div class="review_title">レビュー詳細</div>
    <div class="col-xs-3">
      <%= render 'public/customers/info', customer: @customer %>
    </div>
    <div class="col-xs-8 col-xs-offset-1">
      <table class="table table-hover table-inverse">
        <div class="col-xs-4">
        <tr>
          <td class="info">コンサートのタイトル</td>
          <td><%= @revues.concert.name %></td>
        </tr>
        </div>
        <tr>
          <td class="info">レビュータイトル</td>
          <td><%= @revues.title %></td>
        </tr>
      </table>
      <h4>レビュー本文</h4>
      <div>
        <%= @revues.text %>
      </div>
    </div>
  </div>
  <div class="low">
      <div class="col-xs-1 col-xs-offset-4">
        <% if @revues.customer_id == current_customer.id %>
        <%= link_to "削除", admin_concert_revues_path(@concert), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-danger btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>