<div class="container">
  <div class="row justify-content-start"> <!-- justify-content-startに変更 -->
    <div class="col-lg-6 col-md-8">
      <%= form_with url: public_concerts_path, method: :get, class: "form-inline" do |f| %>
        <div class="input-group">
          <%= f.text_field :tag_name, class: "form-control", placeholder: "タグ名を入力してください" %>
          <div class="input-group-append">
            <%= f.submit "検索", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container" id="item-wrapper">
  <div class="row">
    <div class="col-md-2">
      <%= render 'public/tmp/category_list', categories: @categories %>
    </div>
    <div class="col-md-9">
      <div class="d-flex align-items-end">
        <h2 class="mr-3">行事一覧</h2>
        <p>（全<%= @concerts.count %>件）</p>
      </div>
      <div class="d-md-flex flex-wrap">
        <% @concerts.each do |concert|%>
          <div class="card m-2 text-center card-wrapper">
            <%= link_to public_concert_path(concert.id) do %>
              <%= image_tag concert.get_image, size: '230x160', class: "card-image-top" %>
              <% unless concert.is_active %>
                <div class="not-sale">
                  <p>受付終了</p>
                </div>
              <% end %>
              <div class="card-body text-dark py-2 font-weight-bold">
                <%= link_to concert.name, public_concert_path(concert.id), class: "card-title mb-2" %>
                税込<%= concert.add_tax_price.to_s(:delimited) %>円
              </div>
              <p>アーティスト名 : <%= concert.customer.nickname %></p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div id="paginate-wrapper" class="text-center">
        <%= paginate @concerts %>
      </div>
    </div>
  </div>
</div>