<div class="container" id="item-warpper">
  <div class="row">
    <div class="col-sm-2">
      <%= render 'public/tmp/category_list', categories: @categories %>
    </div>
    <div class="col-md-8" style="margin-top: 50px;">
     <div class="d-flex">
      <%= image_tag @concert.get_image, size: '300x200', class: "mr-4" %>
      <div>
       <h3 class="font-weight-bold mb-3"><%= @concert.name %></h3>
        <p class="h5 mb-4">アーティスト名 : <%= @concert.customer.nickname %></p>
        <p class="h5 mb-4"><%= @concert.introduction %></p>
         <div class="tag-list mb-4">
          <% @concert.tags.each do |tag| %>
           <span class="badge badge-secondary mr-2"><%= tag.name %></span>
          <% end %>
        </div>
        <p class="h4 mb-4">
          <%= @concert.add_tax_price.to_s(:delimited) %>（<%= @concert.price.to_s(:delimited) %>）円
          <small>(税込)</small>
        </p>
        <% if @concert.is_active %>
          <% if current_customer %>
            <div class="text-right">
              <%= render 'public/tmp/sheet', cart:@cart, concert:@concert %>
            </div>
          <% end %>
        <% else %>
          <div class="text-right">
            <span class="btn btn-sm btn-secondary">受付終了</span>
          </div>
        <% end %>
      </div>
     </div>
    </div>
<div class="container my-5">
  <h3><span class="bg-light bg-gradient">レビュー一覧</span></h3>
  <div class="row">
    <div class="col-10">
      <%= form_with model: [@concert, @revue], url: public_concert_revues_path(@concert.id), method: :post do |f| %>
        <%= f.text_area :impressions, rows: '5', placeholder: "レビューをここに" %>
        <div class="star-field">
          <input id="star5" type="radio" name="revue[star]" value="5" />
          <label for="star5">★</label>
          <input id="star4" type="radio" name="revue[star]" value="4" />
          <label for="star4">★</label>
          <input id="star3" type="radio" name="revue[star]" value="3" />
          <label for="star3">★</label>
          <input id="star2" type="radio" name="revue[star]" value="2" />
          <label for="star2">★</label>
          <input id="star1" type="radio" name="revue[star]" value="1" />
          <label for="star1">★</label>
        </div>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
    <div class="col-12">
      <table class='table table-hover table-inverse'>
        <thead>
          <tr class="bg-light">
            <th>ユーザー</th>
            <th>レビュー</th>
            <th>評価</th>
            <th>コメント</th>
          </tr>
        </thead>
        <tbody>
          <% @revues.each do |r| %>
            <tr>
              <td>
                <%= link_to public_customer_path(r.customer.id) do %>
                  <%= r.customer.nickname%>
                <% end %>
              </td>
              <td><%= r.impressions %></td>
              <td>
                <div class="star">
                  <% if r.star? %>
                    <% for i in 1..r.star do %>
                      ★
                    <% end %>
                  <% end %>
                </div>
              </td>
              <td><%= link_to "コメント", public_concert_comments_path(concert_id: @concert.id, revue_id: r.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class ="paginate">
        <%= paginate @revues %>
      </div>
    </div>
  </div>
</div>

<style>
  .tag-list {
  display: flex;
  flex-wrap: wrap;
}

  .tag-list p {
  margin-right: 10px;
}
</style>

<style>
  .star-field{
      display: flex;
      flex-direction: row-reverse;
      justify-content: left;
  }
  .star-field input[type='radio']{
      display: none;
  }
  .star-field label{
      font-size: 50px;
      padding-right: 10px;
      color: #ccc;
      font-size: 30px;
      cursor: pointer;
  }
  .star-field label:hover,
  .star-field label:hover ~ label,
  .star-field input[type='radio']:checked ~ label{
      color: rgb(255, 145, 0);
  }
  .star{
    font-size: 30px;
    color: rgb(255, 145, 0);
  }
</style>
  </div>
</div>

<%# レビュー一覧表示%>
