<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h2>ショッピングカート</h2>
    <%= link_to 'カートを空にする', public_destroy_all_path, method: :delete,
    "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger h-75" %>
  </div>
  <div class="table-responsive">
  <table class="table table-bordered table-hover mt-3">
    <thead class="thead-dark">
      <tr>
        <th nowrap>チケット名</th>
        <th nowrap>単価(税込)</th>
        <th nowrap>数量</th>
        <th nowrap>小計</th>
        <th></th>
      </tr>
    </thead>
    <% if @carts.present?%>
    <tbody>
        <% @carts.each do |cart| %>
      <tr>
        <td class="align-middle py-0">
          <%= image_tag cart.concert.get_image, size:'100x70' %>
          <%= cart.concert.name %>
        </td>
        <td class="align-middle py-1"><%= cart.concert.add_tax_price.to_s(:delimited) %>円</td>
        <td class="align-middle py-1">
          <div class="form-group mt-3">
            <%= render 'public/tmp/sheet', cart:cart, concert:cart.concert %>
          </div>
        </td>
        <td class="align-middle py-1">
          <%= cart.add_total_payment_all.to_s(:delimited) %>円
        </td>
        <td nowrap class="align-middle py-1">
          <%= link_to '消去する', public_cart_item_path(cart.id), method: :delete,
          "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger" %>
        </td>
      </tr>
        <% end %>
    <% else %>
    <tr>
      <td>商品はありません</td>
    </tr>
    <% end %>
    </tbody>
  </table>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <%= link_to '買い物を続ける', root_path, class:"btn btn-sm btn-primary h-75" %>
    <table class="w-25 table-bordered">
      <thead>
        <tr>
          <th nowrap class="table-active py-3 w-50 text-center">合計金額</th>
          <th nowrap class="text-center"><%= @total.to_s(:delimited) %>円</th>
        </tr>
      </thea>
    </table>
  </div>
  <di class="text-center d-block mt-4">
    <% if @carts.present?%>
      <%= link_to '情報入力画面へ進む', new_public_order_path, class:"btn btn-sm btn-success" %>
    <% end %>
  </di>
</div>